numpy==1.26.0
pandas==2.2.2
matplotlib==3.7.3
opencv-python==4.8.1.78
jupyter==1.0.0
torch==2.1.0
torchvision==0.16.0
Pillow==10.0.1
pyyaml==6.0.1
streamlit==1.28.0
streamlit-webrtc==0.47.7
aiortc==1.4.0
opencv-python-headless==4.8.1.78
onnxruntime==1.15.1
pyyaml==6.0.1
